/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*variáveis de cores*/
:root {
  --main-background-color: #2b2b2b;
  --header-footer-color: #454545;
  --text-color: #ffffff;
  --link-hover-color: #ef622f;
  --upload-aviso-color: #ff0000;
  --upload-card-bg: #3c3c3c;
  --upload-drop-border: #d7d7d7;
  --upload-drop-hover-bg: #d6d6d640;
  --upload-text-shadow: #12121280;
  --generate-button-color: #34CB79;
  --generate-button-hover-color: #34ae68;
}

/*estilos globais*/
html,
body {
  background-color: var(--main-background-color);
  height: 100%;
}

/*início da estilização*/
body {
  min-height: 100vh; /*garante que o corpo ocupe toda a altura da viewport*/
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
}

/* ===== Cabeçalho ===== */
header {
  background-color: var(--header-footer-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}

header img {
  height: 120px;
  width: auto;
  display: block;
}

p {
  color: var(--text-color);
  font-size: 14px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: Regular;
}

nav ul {
  display: flex;
  gap: 24px;
  margin-right: 150px;
  list-style: none;
}

nav a:hover {
  color: var(--link-hover-color);
  text-decoration: solid;
}

a {
  color: var(--text-color);
  font-size: 22px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: Regular;
  text-decoration: none;
}

/* ===== Conteúdo Principal ===== */
main {
  display: flex;
  flex-direction: column;
  margin: 32px;
  flex: 1;
}

main h1 {
  color: var(--text-color);
  font-size: 32px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* ===== Área de Upload ===== */
#generate .upload-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 60px 0 30px;
}

#generate .upload-card span {
  color: var(--upload-aviso-color);
  font-weight: bold;
  margin-left: -350px;
}

#generate .upload-card .file-input {
  width: 700px;
  height: 350px;
  background-color: var(--upload-card-bg);
  display: grid;
  grid-template-areas: "stack";
  border-radius: 15px;
}

#generate .upload-card .file-input > * {
  grid-area: stack;
}

#generate .upload-card .file-input > input {
  opacity: 0;
}

#generate .upload-card .file-input > .drop-zone {
  margin: 15px;
  border: dashed 2px var(--upload-drop-border);
  border-radius: 4px;
}

#generate .upload-card .file-input.active > .drop-zone {
  margin: 14px;
  background-color: var(--upload-drop-hover-bg);
}

#generate .upload-card .drop-zone {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 200ms;
  position: relative;
}

#generate .upload-card .drop-zone img {
  width: 32px;
  height: 32px;
}

#generate .upload-card .drop-zone p {
  text-shadow: var(--upload-text-shadow) 1px 0 20px;
  width: 175px;
}

#generate .upload-card .drop-zone #cover {
  width: 100px;
  height: 100px;
  z-index: 0;
  opacity: 0.8;
  transition: opacity 500ms;
  object-fit: cover;
}

#generate .upload-card .file-input:hover {
  opacity: 0.5;
  transition-duration: 250ms;
}

#generate .upload-card .remove-btn {
  width: 32px;
  position: absolute;
  margin-left: -16px;
  margin-top: -16px;
}

/* ===== Botão Gerar ===== */
#generate .button-gerar{
  border: none;
  color: var(--text-color);
  background-color: var(--generate-button-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 15px;
}

#generate .button-gerar:hover {
  background-color: var(--generate-button-hover-color);
}

/* ===== Rodapé ===== */
footer {
  background-color: var(--header-footer-color);
  text-align: center;
  padding: 32px;
}
