/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*variáveis de cores*/
:root {
  --main-background-color: #2b2b2b;
  --header-footer-color: #454545;
  --text-color: #ffffff;
  --link-hover-color: #ef622f;
  --upload-aviso-color: #ff3434;
  --upload-card-bg: #3c3c3c;
  --upload-drop-border: #d7d7d7;
  --upload-drop-hover-bg: #d6d6d640;
  --model-result-bg: #3c3c3c;
  --upload-text-shadow: #12121280;
  --generate-button-disabled-color: #888888;
  --generate-button-color: #34cb79;
  --generate-button-hover-color: #34ae68;
  --success-color: #24ff53;
  --fail-color: #ff3434;
}

/*estilos globais*/
html,
body {
  background-color: var(--main-background-color);
  height: 100%;
}

/*início da estilização*/
body {
  min-height: 100vh; /*garante que o corpo ocupe toda a altura da viewport*/
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
}

/* ===== Cabeçalho ===== */
header {
  background-color: var(--header-footer-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
}

header img {
  height: 120px;
  width: auto;
  display: block;
}

p {
  color: var(--text-color);
  font-size: 16px;
}

nav ul { 
  display: flex;
  gap: 24px;
  list-style: none;
}

nav a:hover {
  color: var(--link-hover-color);
  text-decoration: solid;
}

a {
  color: var(--text-color);
  font-size: 22px;
  text-decoration: none;
}

/* ===== Conteúdo Principal ===== */
main {
  display: flex;
  flex-direction: column;
  margin: 32px;
  flex: 1;
}

main h1 {
  color: var(--text-color);
  font-size: 32px;
  text-align: center;
}

/* ===== Área de Upload ===== */
#generate .upload-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 60px 0 30px;
}

#generate .upload-card + span {
  color: var(--upload-aviso-color);
  font-weight: bold;
  margin-left: -350px;
}

#generate .upload-card .file-input {
  width: 800px;
  height: auto !important;
  background-color: var(--upload-card-bg);
  display: grid;
  grid-template-areas: "stack";
  border-radius: 30px;
  padding: 25px;
}

#generate .upload-card .file-input > * {
  grid-area: stack;
}

#generate .upload-card .file-input > input {
  opacity: 0;
}

#generate .upload-card .file-input > .drop-zone {
  border: dashed 2px var(--upload-drop-border);
  border-radius: 10px;
}

#generate .upload-card .file-input.active > .drop-zone {
  background-color: var(--upload-drop-hover-bg);
}

#generate .upload-card .drop-zone {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 200ms;
  position: relative;
}

#generate .upload-card .drop-zone img {
  width: 32px;
  height: 32px;
}

#generate .upload-card .drop-zone p {
  text-shadow: var(--upload-text-shadow) 1px 0 20px;
  width: 300px;
  font-weight: bold;
}

#generate .upload-card .drop-zone p span {
  font-size: 12px;
  font-weight: 100;
  white-space: pre;
  line-height: 2; 
}

#generate .upload-card .drop-zone #cover {
  width: 100px;
  height: 100px;
  z-index: 0;
  opacity: 0.8;
  transition: opacity 500ms;
  object-fit: cover;
}

#generate .upload-card .drop-zone:hover {
  opacity: 0.5;
  transition-duration: 250ms;
  cursor: pointer;
}

#generate .upload-card .remove-btn {
  width: 32px;
  position: absolute;
  margin-left: -16px;
  margin-top: -16px;
}

/* ===== Botão Gerar ===== */
#generate .button-enabled, .button-disabled {
  border: none;
  color: var(--text-color);
  background-color: var(--generate-button-color);
  padding: 18px 36px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 15px;
}

.button-disabled {
  background: var(--);
  cursor: not-allowed;
}

#generate .button-enabled:hover {
  background-color: var(--generate-button-hover-color);
  cursor: pointer;
}

/* ===== Canva 3D ===== */
#viewer-section {
  width: 100%;
  margin-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#viewer-section h2,
#viewer-section #viewer-status {
  width: 100%;
  text-align: center;
  color: var(--text-color);
  font-weight: bold;
}

#viewer-section #viewer-status {
  color: var(--success-color);
}

.viewer-container {
  width: min(600px, 100%);
  height: 350px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewer-canvas {
  width: 800px;
  height: auto !important;
  border-radius: 15px;
  background-color: var(--model-result-bg);
  display: block;
}

/* ===== Rodapé ===== */
footer {
  background-color: var(--header-footer-color);
  text-align: center;
  padding: 28px;
}