<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Triform</title>
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='images/logo_darkmode.png') }}" alt="Logo Triform" />
      <nav>
        <ul>
          <li>
            <a href="#"><strong>Gerar</strong></a>
          </li>
          <li>
            <a href="#"><strong>Tutorial</strong></a>
          </li>
          <li>
            <a href="#"><strong>Sobre os Autores</strong></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="generate">
        <h1>Transforme suas imagens em modelos 3D em poucos segundos</h1>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="upload-card">
              <label for="file" class="file-input">
              <input type="file" name="file" id="file" multiple="multiple">
              <div class="drop-zone" id="drop-zone">
                <div class="placeholder">
                  <img src="{{ url_for('static', filename='images/icon_add_photo.png') }}" alt="">
                  <p>Selecione até 10 imagens ou solte elas aqui</p>
                </div>
              </div>
              </label>
            </div>
            <input class="button-gerar" type="submit" value="GERAR">
          </form>
      </section>
    </main>
    <footer>
      <p id="about-authors">
        &copy; 2026 Triform — Desenvolvido por Cláudio Dias e Daniel Camargo
        <br />
        Trabalho de Conclusão de Curso em Ciência da Computação. <br />
        Universidade Presbiteriana Mackenzie.
      </p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
